@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


a:visited {
    color: #000000;
}


a:link, a:visited {
    color: #000000;
    text-decoration: none;
}

a:link:hover, a:visited:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font: inherit;
    margin-block: unset;
    margin-inline: unset;
}

input, select, textarea {
    appearance: none;
    background-color: inherit;
    border: unset;
    color: inherit;
    font: inherit;
    margin: unset;
    outline: none;
    padding: unset;
}

ol, ul {
    list-style-type: none;
    margin-block: unset;
    margin-inline: unset;
    padding-block: unset;
    padding-inline: unset;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #F6F1F1;
    box-sizing: border-box;
    color: #000000;
    padding: 0 10rem;
    min-width: 1500px;
    max-width: 1500px;
    margin: 0 auto;
    overflow: scroll;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body::-webkit-scrollbar {
    display: none;
}

#headLine {
    width: 100%;
    height: 100%;
    min-height: 3rem;
    max-height: 3rem;
    padding-bottom: 0.25rem;
    border-bottom: 0.0625rem solid red;

    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#headLine > .logo {
    box-sizing: border-box;
    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#headLine > .logo > a {
    min-width: 9rem;
    height: 100%;
    transform: translateY(-2.5%);
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headLine > .logo > a > img {
    height: 2rem;
}

#headLine > .info_menu {
    padding-right: 1rem;
    box-sizing: border-box;
    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#headLine > .info_menu > a > img{
    height: 2rem;
    width: 2rem;
}

#headLine > .info_menu > .nickname{
    border-bottom: 0.0625rem solid;
}

#headLine > .info_menu > span{
    color: #515151;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
}

#headLine > .info_menu > a + a {
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    box-sizing: border-box;
    border-left: 0.0625rem solid red;
}

#searchBox {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#searchBox > .search {
    width: 100%;
    height: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#searchBox > .search > label{
    width: 75%;
    height: 3rem;
    border: 0.125rem solid red;
    border-radius: 1rem;
    align-items:center;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#searchBox > .search > label > div{
    width: 3rem;
    height:100%;
    padding: 0 0.5rem;
    box-sizing: border-box;
    border-radius: 2rem 0 0 2rem;

    align-items:center;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;

}

#searchBox > .search > label > input {
    width: 95%;
    height: 2rem;
    padding-left: 1rem;
    box-sizing: border-box;
    border-left: 0.125rem solid red;
}

#searchBox > .search > label:hover {
    box-shadow: 0.15rem 0.15rem 0.15rem #e0e0e0;
}

#searchBox > #marge {
    min-width: 7rem;
    height: 100%;
}

#bannerContainer {
    width: 100%;
    height: 100%;
    min-height: 30rem;
    max-height: 30rem;
    box-sizing: border-box;

    background-image: url("../images/home/banner01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: min-height 0.5s ease-in-out;
}

#bannerContainer.visible {
    min-height: 0;
    opacity: 0;
    display: none;
    border: none;
}

#menuContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

#menuContainer > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#menuContainer > ul > .icon + .icon {
    margin-left: 1rem;
}
#menuContainer > ul > .icon > a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menuContainer > ul > .icon > a > img {
    height: 7.5rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}
#menuContainer > ul > .icon > a > span {
    font-size: 1.5rem;
    font-weight: 600;
}

#footer {
    width: 100%;
    height: 30%;
    min-height: 12rem;
    max-height: 12rem;
    background-color: #ffffff;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#footer > .sub_logo {
    width: 40%;
    height: 100%;

    align-items: center;
    display: flex;
    justify-content: center;
}

#footer > .sub_logo > img {
    height: 10rem;
}

#footer > .etc{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

#footer > .etc > label > a + a{
    margin-left: 5rem;
}

#footer > .etc > label > a > img {
    width: 5rem;
    height: 5rem;
}

#footer > .etc > ul {
    margin-left: 1rem;
}

#footer > .etc > ul > li {
    font-size: 1.25rem;
}