@charset "UTF-8";

._object-btn {
    width: 12rem;
    height: 4rem;
    background-color: #e9e9ef;
    border: none;
    box-shadow: 0 0 0.25rem rgba(255, 0, 0, 0.5);
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 1.25rem;

    align-items: center;
    display: flex;
    justify-content: space-around;
}

._object-btn > span {
    color: #8583ab;
}

._object-btn > img {
    width: 2.5rem;
}

#center {
    width: 100%;
    border-top: 0.0625rem solid red;
    max-height: 20rem;
    min-height: 10rem;
    height: 100%;

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#center > div {
    width: 100%;
    padding: 0 0 2rem 0;
    box-sizing: border-box;
}
#center > .ranking {
    padding: 0 2rem 0 0;
}

/*region ranking*/
#center > .ranking > div > .league_list {
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid #c6c6c6;
    border-top: 0.0625rem solid #c6c6c6;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#center > .ranking > div > .league_list > label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #9695a0;
}

#center > .ranking > div > .league_list > label:has(>input[type="radio"]:checked) {
    text-decoration: underline;
    color: #000000;
}
/*endregion*/

#center > div > div {
    width: 100%;
    padding: 1.5rem 0 0 0;
    box-sizing: border-box;

    align-items:center;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

#center > div > div > h2 {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.75rem;
    font-weight: 600;
    padding-left: 1rem;
}

#center > .login_div > h2 {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.75rem;
    font-weight: 600;
    padding-left: 1rem;
}

#center > div > table {
    margin-top: 0.25rem;
    width: 100%;
    border-top: 0.25rem solid red;
}

#center > div > table > thead > tr,
#center > div > table > tbody > tr {
    height: 2.5rem;
}

#center > div > table > thead > tr > th {
    border-bottom: 0.0625rem solid;
    text-align: center;
}

#center > div > table > tbody > tr > td {
    border-bottom: 0.0625rem solid #eaeaea;
    text-align: center;
    font-size: 0.9rem;
}

#center > .login_div {
    width: 100%;
    height: 100%;
}

#center > .login_div > h2 {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.75rem;
    font-weight: 600;
    padding-left: 1rem;
    padding-top: 1.5rem;
}

#center > .login_div > .login_user,
#center > .login_div > .not_login{
    padding: 0;
    border-top: 0.0625rem solid #c6c6c6;
    height: 100%;

    display: flex;
    flex-direction: row;
}

/*region login_user*/
#center > .login_div > .not_login > .login_btn,
#center > .login_div > .not_login > .register_recover {
    padding: 1rem 0;
    width: 100%;
    height: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#center > .login_div > .not_login > .login_btn {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#center > .login_div > .not_login > .login_btn > img {
    width: 7.5rem;
}

#center > .login_div > .not_login > .register_recover > a {
    background-color: #e9e9ef;
    width: 75%;
    padding: 1rem 0;
    margin: 0.5rem;

    display: flex;
    justify-content: space-around;
}
#center > .login_div > .not_login > .register_recover > a > img {
    width: 1rem;
}

/*endregion*/

/*region not_login*/
#center > .login_div > .login_user > .login_profile,
#center > .login_div > .login_user > .login_board{
    padding: 1rem 0;
    width: 100%;
    height: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#center > .login_div > .login_user > .login_profile > img {
    max-height: 10rem;
    border-radius: 1rem;
}

#center > .login_div > .login_user > .login_profile > .button-container {

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#center > .login_div > .login_user > .login_profile > .button-container > span{
    margin-bottom: 1rem;
}

#center > .login_div > .login_user > .login_profile > .button-container > .btn {
    width: 100%;
    height: 2.5rem;
    background-color: #e9e9ef;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.25rem rgba(255, 0, 0, 0.5);
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#center > .login_div > .login_user > .login_profile > .button-container > .btn > img {
    width: 1.5rem;
}

#center > .login_div > .login_user > .login_profile > a > img {
    width: 1rem;
}

#center > .login_div > .login_user > .login_board > .board_list {
    width: 100%;
    height: 3rem;
    border-bottom: 0.0625rem solid red;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#center > .login_div > .login_user > .login_board > .board_list > span {
    font-size: 1.25rem;
}

/*endregion*/

#board {
    width: 100%;
    max-height: 20rem;
    min-height: 10rem;
    height: 100%;

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#board > div {
    width: 100%;
    padding: 0 0 2rem 0;
    box-sizing: border-box;
}

#board > .korean_leaguer {
    padding: 0 2rem 0 0;
}

#board > div > label {
    width: 100%;
    padding: 1.5rem 0 0 0;
    box-sizing: border-box;

    align-items:flex-end;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

#board > div > label > h2 {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.75rem;
    font-weight: 600;
    padding-left: 1rem;
}

#board > div > label > a {
    width: 100%;
    color: #bdbdbd;
    font-size: 1.25rem;
    text-decoration: underline;
    text-align: end;
}

#board > div > table {
    margin-top: 0.25rem;
    width: 100%;
    border-top: 0.25rem solid red;
}

#board > div > table > thead > tr,
#board > div > table > tbody > tr {
    height: 2.5rem;
}

#board > div > table > tbody > tr:hover{
    background-color: #eaeaea;
    filter: brightness(90%);
    cursor: pointer;
}

#board > div > table > thead > tr > th {
    border-bottom: 0.0625rem solid;
    text-align: center;
}

#board > div > table > tbody > tr > td {
    border-bottom: 0.0625rem solid #eaeaea;
    text-align: center;
    font-size: 0.9rem;
}