@charset "UTF-8";

#board {
    width: 100%;
    border-top: 0.0625rem solid red;

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#board > div {
    width: 100%;
    padding: 0 0 2rem 0;
    box-sizing: border-box;
}

#board > .korean_leaguer {
    padding: 0 2rem 0 0;
}

#board > div > label {
    width: 100%;
    padding: 1.5rem 0 0 0;
    box-sizing: border-box;

    align-items:flex-end;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

#board > div > label > h2 {
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    box-sizing: border-box;
}

#board > div > label > a {
    width: 100%;
    color: #bdbdbd;
    font-size: 1.25rem;
    text-decoration: underline;
    text-align: end;
}

#board > div > table {
    margin-top: 0.25rem;
    width: 100%;
    border-top: 0.5rem solid red;
}

#board > div > table > thead > tr,
#board > div > table > tbody > tr {
    height: 2.5rem;
}

#board > div > table > tbody > tr:hover{
    background-color: #eaeaea;
    filter: brightness(90%);
    cursor: pointer;
}

#board > div > table > thead > tr > th {
    border-bottom: 0.0625rem solid;
    text-align: center;
}

#board > div > table > tbody > tr > td {
    border-bottom: 0.0625rem solid #eaeaea;
    text-align: center;
    font-size: 0.9rem;
}