<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>K Foot Glance</title>
    <link rel="icon" th:href="@{/resources/images/logo.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/user/login.css}">
</head>
<body>
<div id="loginContainer">
    <header class="logo_box">
        <a th:href="@{/}">
            <img th:src="@{/resources/images/image-logo.png}" alt="">
        </a>
    </header>
    <div class="login_div">
        <div class="login_container">
            <input class="input" maxlength="50" name="userId" placeholder="아이디" type="text">
            <span class="id_warning warning"></span>
            <input class="input" maxlength="50" name="password" placeholder="비밀번호" type="password">
            <span class="password_warning warning"></span>
        </div>
        <div class="button-container">
            <input class="login-button" type="submit" value="로그인">
        </div>
        <ul class="registerEndRecover">
            <li><a th:href="@{/user/register}">회원가입</a></li>
            <li><a th:href="@{/user/recover_id}">아이디 찾기</a></li>
            <li><a th:href="@{/user/recover_password}">비밀번호 찾기</a></li>
        </ul>
    </div>
</div>
</body>
</html>