<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>K Foot Glance</title>
    <link rel="icon" th:href="@{/resources/images/logo.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/user/register.css}">
    <script defer th:src="@{/resources/scripts/user/register.js}"></script>
</head>
<body>
<header id="logo">
    <a th:href="@{/}">
        <img class="logo" th:src="@{/resources/images/logo2.png}" alt="">
    </a>
</header>
<div id="registerDiv">
    <section class="section step-1 visible">
        <div class="title-container">
            <h2 class="title">회원가입</h2>
            <h3 class="sub_title">[개인정보 동의]</h3>
        </div>
        <div class="content-container">
            <div class="allAgreeBtn">
                <label class="label agreeLabel">
                    <input class="check" type="checkbox">
                    <img th:src="@{/resources/images/user/check.png}" class="noneBtn" alt="">
                    <img th:src="@{/resources/images/user/check-agree2.png}" class="agreeBtn" alt="">
                    <span> 전체 동의하기 </span>
                </label>
            </div>
            <label class="label agreeLabel">
                <input class="check" name="agreeServiceTerm" type="checkbox">
                <img th:src="@{/resources/images/user/check.png}" class="noneBtn" alt="">
                <img th:src="@{/resources/images/user/check-agree2.png}" class="agreeBtn" alt="">
                <span> [필수] 서비스 이용 약관 </span>
            </label>

            <label class="label agreeLabel">
                <input class="check" name="agreePrivacyTerm" type="checkbox">
                <img th:src="@{/resources/images/user/check.png}" class="noneBtn" alt="">
                <img th:src="@{/resources/images/user/check-agree2.png}" class="agreeBtn" alt="">
                <span> [필수] 개인정보 처리방침 </span>
            </label>

            <label class="label agreeLabel">
                <input class="check" type="checkbox">
                <img th:src="@{/resources/images/user/check.png}" class="noneBtn" alt="">
                <img th:src="@{/resources/images/user/check-agree2.png}" class="agreeBtn" alt="">
                <span> [선택] 이벤트・혜택 정보 수신 </span>
            </label>

        </div>
        <div class="warning-container">
            <span class="term-warning warning" rel="termWarning"></span>
        </div>
        <div class="button-container">
            <input class="button" name="back" type="button" value="뒤로가기">
            <input class="button" type="submit" value="다음">
        </div>
    </section >
    <section class="section step-2">
        <div class="title-container">
            <h2 class="title">회원가입</h2>
            <h3 class="sub_title">[개인정보 입력]</h3>
        </div>
        <div class="user_information">
            <label class="label">
                <input class="input" placeholder="아이디를 입력해 주세요." minlength="4" maxlength="16" name="userId" type="text">
                <input class="button" name="idCheck" value="중복확인" type="button">
            </label>
            <div class="warning-container">
                <span class="warning userId" rel="idWarning"></span>
            </div>
            <label class="label password_label">
                <input type="password" minlength="8" maxlength="50" name="password" placeholder="비밀번호를 입력해주세요." class="input">
            </label>
            <label class="label passCheck_label">
                <input type="password" minlength="8" maxlength="50" name="passwordCheck" placeholder="비밀번호를 다시 입력해주세요." class="input">
            </label>
            <div class="warning-container">
                <span class="warning password" rel="passwordWarning"></span>
            </div>
            
            <label class="label">
                <input type="email" placeholder="계정 복구용 이메일을 입력해주세요." class="input">
            </label>
            <div class="warning-container">
                <span class="warning email" rel="emailWarning"></span>
            </div>
            <label class="label">
                <input type="text" placeholder="이름을 입력해 주세요." class="input">
            </label>
            <div class="warning-container">
                <span class="warning name" rel="nameWarning"></span>
            </div>
            <label class="label">
                <input type="text" placeholder="닉네임을 입력해주세요." class="input">
                <input class="button" name="nicknameCheck" value="중복확인" type="button">
            </label>
            <div class="warning-container">
                <span class="warning nickname" rel="nicknameWarning"></span>
            </div>
            <label class="label">
                <input type="text" placeholder="휴대폰 번호를 입력해주세요." class="input">
                <input class="button" name="contactSend" value="인증번호 전송" type="button">
            </label>
            <div class="warning-container">
                <span class="warning contact" rel="contactWarning"></span>
            </div>
            <label class="label">
                <input type="text" placeholder="인증번호를 입력해주세요." class="input">
                <input class="button" name="contactVerify" value="인증번호 확인" type="button">
            </label>
            <input hidden name="contactSalt" type="hidden">
            <div class="warning-container">
                <span class="warning authentication" rel="authenticationWarning"></span>
            </div>
        </div>
        <div class="button-container">
            <input class="button" type="button" value="뒤로가기">
            <input class="button" type="submit" value="다음">
        </div>
    </section>
    <section class="section step-3">
        <div class="title-container">
            <h2 class="title">회원가입</h2>
            <h3 class="sub_title">[회원가입 완료]</h3>
        </div>
        <div class="complete">
            <img th:src="@{/resources/images/image-logo.png}" alt="">
            <h1 class="welcome">
                회원가입이 완료되었습니다.
                로그인 후 이용해주세요.
            </h1>
        </div>
        <div class="button-container">
            <a th:href="@{/}" class="button">홈으로</a>
            <a th:href="@{/user/login}" class="button">로그인 화면으로</a>
        </div>
    </section>
</div>
</body>
</html>