@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif
}

body {
    margin: 0;

    align-items:center;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#loginContainer {
    max-width: 492px;
    min-width: 360px;
    min-height: 100%;
    padding: 0 16px 200px;
    margin: 0 auto;
}

#loginContainer > .logo_box {
    min-width: 20.5rem;

    display: flex;
    justify-content: center;
}

#loginContainer > .logo_box > label > a > img{
    width: 25rem;
}

#loginContainer > .login_div {
    width: inherit;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#loginContainer > .login_div > .login_container {
    width: inherit;
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

}

#loginContainer > .login_div > .login_container > .input {
    padding: 1.125rem 0.75rem;
    height: 1.125rem;
    width: 25rem;
    font-size: 1.125rem;
    border: 0.125rem solid #e5e8eb;
    transition: border-color .15s linear;
    font-weight: 700;
    outline: 0;


}

#loginContainer > .login_div > .login_container > .input:focus {
    outline: 0.125rem solid red;
    border: none;
}

#loginContainer > .login_div > .login_container > .input:first-child {
    margin-bottom: 1rem;
}

#loginContainer > .login_div > .warning-container {
    display: flex;
    justify-content: center;
}

#loginContainer > .login_div > .warning-container.invalid {
    height: 1.5rem;
    padding-top: 0.5rem;
}

#loginContainer > .login_div > .warning-container.invalid > .warning {
    max-height: 0;
    color: #ef5350;
    font-size: 0.9rem;
    text-align: center;
    padding-top: 0;
}

#loginContainer > .login_div > .warning-container.invalid > .warning.visible {
    max-height: 3rem;
    text-align: center;
}



