<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>K Foot Glance</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/base.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/home.css}">
    <link rel="icon" th:href="@{/resources/images/logo.png}" type="image/png">
    <script defer th:src="@{/resources/scripts/home.js}"></script>
</head>
<body>
<header id="headLine">
    <div class="logo" th:if="${session.user == null}">
        <a th:href="@{/static}">
            <img th:src="@{/resources/images/logo2.png}" alt="">
        </a>
    </div>
    <div class="logo" th:if="${session.user != null}">
        <a th:if="${session.user.getAuthority() != 2}" th:href="@{/static}">
            <img th:src="@{/resources/images/logo2.png}" alt="">
        </a>
        <a th:if="${session.user.getAuthority() == 2}" th:href="@{/entrepreneur}">
            <img th:src="@{/resources/images/logo2.png}" alt="">
        </a>
    </div>
    <div class="info_menu" >
        <a class="nickname" th:if="${session.user != null}" th:href="@{/mypage/modify}">
            <span th:text="${session.user['nickname']}"></span>
        </a>
        <span th:if="${session.user != null}">님</span>
        <a th:if="${session.user == null}" th:href="@{/user/login}">
            <img th:src="@{/resources/images/user.png}" alt="">
        </a>
        <a th:if="${session.user != null}" class="logout" href="#">로그아웃</a>
        <a th:if="${session.user != null}" th:href="@{/mypage/modify}">마이페이지</a>
        <a th:href="@{/help/faq}">
            <img th:src="@{/resources/images/inquiry.png}" alt="">
        </a>
    </div>
</header>
<div id="searchBox">
    <div class="search">
        <label>
            <div>
                <img width="24" height="24" src="https://img.icons8.com/material-outlined/24/ff0000/search--v1.png" alt="search--v1"/>
            </div>
            <input id="searchContent" type="text" placeholder="검색">
        </label>
    </div>
</div>
<div id="bannerContainer">
</div>
<div id="menuContainer">
    <ul>
        <li class="icon">
            <a th:href="@{/league/EPL}">
                <img th:src="@{/resources/images/프리미어리그.png}" alt="">
                <span>프리미어 리그</span>
            </a>
        </li>
        <li class="icon">
            <a th:href="@{/league/laliga}">
                <img th:src="@{/resources/images/라리가.png}" alt="">
                <span>프리메라리가</span>
            </a>
        </li>
        <li class="icon">
            <a th:href="@{/league/bundesliga}">
                <img th:src="@{/resources/images/분데스.png}" alt="">
                <span>분데스리가</span>
            </a>
        </li>
        <li class="icon">
            <a th:href="@{/league/serie}">
                <img th:src="@{/resources/images/세리아.png}" alt="">
                <span>세리에 A</span>
            </a>
        </li>
        <li class="icon">
            <a th:href="@{/league/ligue1}">
                <img th:src="@{/resources/images/리그앙.png}" alt="">
                <span>리그앙</span>
            </a>
        </li>
    </ul>
</div>
<div id="center">
    <div class="ranking">
        <div>
            <h2>리그 순위</h2>
            <div class="league_list">
                <label>
                    <input checked name="league" type="radio">
                    <span>프리미어리그</span>
                </label>
                <label>
                    <input name="league" type="radio">
                    <span>라리가</span>
                </label>
                <label>
                    <input name="league" type="radio">
                    <span>분데스리그</span>
                </label>
                <label>
                    <input name="league" type="radio">
                    <span>세리아A</span>
                </label>
                <label>
                    <input name="league" type="radio">
                    <span>리그앙</span>
                </label>
            </div>
        </div>
        <table>
            <thead>
            <tr>
                <th>순위</th>
                <th>팀명</th>
                <th>경기수</th>
                <th>승</th>
                <th>무</th>
                <th>패</th>
                <th>득</th>
                <th>실</th>
                <th>승점</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>뉴캐슬</td>
                <td>1</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>5</td>
                <td>1</td>
                <td>3</td>
            </tr>
            <!--            <tr>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--                <td></td>-->
            <!--            </tr>-->
            </tbody>
        </table>
    </div>
    <div class="login_div">
        <h2>프로필</h2>
        <div class="login_user" th:if="${session.user == null}">
            <div class="login_btn">
                <a th:href="@{/user/login}">
                    로그인
                    <img th:src="@{/resources/images/login.png}" alt="">
                </a>
                <img th:src="@{/resources/images/warning.png}" alt="">
<!--                <span>로그인 후 이용해 주세요.</span>-->
            </div>
            <div class="register_recover">
                <a th:href="@{/user/register}">
                    <span>회원가입</span>
                    <img th:src="@{/resources/images/next.png}" alt="">
                </a>
                <a th:href="@{/user/recover}">
                    <span>아이디 찾기</span>
                    <img th:src="@{/resources/images/next.png}" alt="">
                </a>
                <a th:href="@{/user/reset}">
                    <span>비밀번호 찾기</span>
                    <img th:src="@{/resources/images/next.png}" alt="">
                </a>
            </div>
        </div>
        <div class="not_login" th:if="${session.user != null}">
            로그인 후
        </div>
    </div>
</div>
<div id="board">
    <div class="korean_leaguer">
        <label>
            <h2>금주의 코리안 리거</h2>
            <a href="">더 보기</a>
        </label>
        <table>
            <thead>
            <tr>
                <th>순번</th>
                <th>이름</th>
                <th>리그</th>
                <th>경기</th>
                <th>득점/도움</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>손흥민</td>
                <td>프리미어리그</td>
                <td>토트넘 vs 브랜드포드</td>
                <td>0/0</td>
            </tr>
<!--            <tr>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--            </tr>-->
            </tbody>
        </table>
    </div>
    <div class="free_board">
        <label>
            <h2>자유 게시판</h2>
            <a href="">더 보기</a>
        </label>
        <table>
            <thead>
            <tr>
                <th>순번</th>
                <th>리그</th>
                <th>제목</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>프리미어리그</td>
                <td>손흥민 폼뮈쳐따</td>
                <td>2023-08-14</td>
                <td>9999</td>
            </tr>
<!--            <tr>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--            </tr>-->
            </tbody>
        </table>
    </div>
</div>
<footer id="footer">
    <div class="sub_logo">
        <img th:src="@{/resources/images/image-logo.png}" alt="">
    </div>
    <div class="etc">
        <label>
            <a href="https://github.com/ks0020" target="_blank">
                <img th:src="@{/resources/images/github.png}" alt="">
            </a>
            <a href="https://www.instagram.com/min___96__/" target="_blank">
                <img th:src="@{/resources/images/instagram.png}" alt="">
            </a>
        </label>
        <ul>
            <li>제작자 : 이석민</li>
            <li>제작 기간 : 2023/08/08~</li>
        </ul>
    </div>
</footer>
</body>
</html>